* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  scroll-snap-type: mandatory;
  text-align: center;
}
.header {
  
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  padding: 0 2%;
  // color: #a0a0a0;
  color: white;
  h1 {
    font-size: 16px;
    @media only screen and (min-width: 700px) {
      font-size: 20px;
    }
  }
  nav ul {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    li {
      list-style-type: none;
      margin: 0 0 0 2px;
      position: relative;
      font-family: "poppins", sans-serif;
      font-size: 15px;
      letter-spacing: 0.5px;
      padding: 0 5px;
      @media only screen and (min-width: 700px) {
        margin: 0 0 0 10px;
        padding: 0 10px;
        font-size: 16px;
      }
    }
    li:after {
      content: "";
      position: absolute;
      background-color: rgba(66, 153, 225, 0.6);;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -10px;
      transition: 0.3s;
    }
    li:hover {
      color: grey;
    }
    li:hover:after {
      width: 100%;
    }
  }
}
.footer {
  background-color: black;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2%;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: white;
  @media only screen and (min-width: 700px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2%;
    align-items: center;
  }
}
.yoda-container {
  width: 100%;
  position: relative;
  .yoda-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    @media only screen and (min-width: 700px) {
      height: 400px;
    }
  }
  .css-1dklj6k {
    font-size: lg;
    color: white;
    position: absolute;
    bottom: 15%;
    left: 10%;
    animation: color-change 3s infinite;
  }
  @keyframes color-change {
    100% {
      color: #e5e4e2;
    }
    0% {
      color: #71797e;
    }
    100% {
      color: #e5e4e2;
    }
  }
}
.starlist-container {
  overflow: scroll;
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  margin: 5% auto;
}
.ymandatory-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  scroll-snap-align: start;
  position: relative;
}
.starCard {
  width: 90%;
  margin: 5% auto;
  padding: 15px;
  text-align: start;
  line-height: 1.8;
  height: 200px;
  border-radius: 10px;
  position: relative;
  .css-1dklj6k {
    font-size: medium;
  }
  .css-8pcd7y {
    position: absolute;
    bottom: 5%;
  }
}
.starCard:hover {
  cursor: pointer;
  filter: drop-shadow(5px 5px 10px black);
}
