* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --default-background-color: whitesmoke;
  --default-text-color: black;
  --darktheme-background-color: black;
  --darktheme-text-color: white;
}
.app {
  width: 100%;
    text-align: center;
  background-color: var(--default-background-color);
}
.scrolled-header {
  background-color: var(--default-background-color);
  color: var(--default-text-color);
}
.static-header {
  background-color: transparent;
  color: var(--darktheme-text-color);
}
.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  padding: 0 2%;
  transition: 0.5s;

  h1 {
    font-size: 16px;
    @media only screen and (min-width: 700px) {
      font-size: 20px;
    }
  }
  nav ul {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    li {
      list-style-type: none;
      margin: 0 0 0 2px;
      position: relative;
      font-family: "poppins", sans-serif;
      font-size: 15px;
      letter-spacing: 0.5px;
      padding: 0 5px;
      @media only screen and (min-width: 700px) {
        margin: 0 0 0 10px;
        padding: 0 10px;
        font-size: 16px;
      }
      .moon svg {
        stroke: var(--default-background-color);
        fill: var(--default-background-color);
      }
      .sun svg {
        stroke: var(--darktheme-background-color);
        fill: var(--darktheme-background-color);
      }
    }
    li:after {
      content: "";
      position: absolute;
      background-color: rgba(66, 153, 225, 0.6);
      height: 3px;
      width: 0;
      left: 0;
      bottom: -10px;
      transition: 0.3s;
    }
    li:hover {
      color: grey;
    }
    li:hover:after {
      width: 100%;
    }
  }
}
.footer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2%;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: var(--darktheme-text-color);
  font-weight: 500;
  span {
    font-weight: 700;
  }
  @media only screen and (min-width: 700px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2%;
    align-items: center;
  }
}
.lighttheme-footer {
  background-color: var(--darktheme-background-color);
}
.darktheme-footer {
  background-color: #3182ce;
}

.spinner {
  width: 500px;
  height: 500px;
  margin: 50px auto;
}
.yoda-container {
  width: 100%;
  position: relative;
  .yoda-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    @media only screen and (min-width: 700px) {
      height: 300px;
    }
  }
  .css-1dklj6k {
    font-size: lg;
    color: white;
    position: absolute;
    bottom: 15%;
    left: 10%;
    animation: color-change 3s infinite;
  }
  @keyframes color-change {
    100% {
      color: #e5e4e2;
    }
    0% {
      color: #71797e;
    }
    100% {
      color: #e5e4e2;
    }
  }
}
.starlist-container {
  margin: 0 auto;
  padding: 5% 0;
}
.light-starlist-container {
  background-color: var(--default-background-color);
}
.dark-starlist-container {
  background-color: var(--darktheme-background-color);
}
.ymandatory-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  scroll-snap-align: start;
  position: relative;
}
.starCard {
  width: 90%;
  margin: 5% auto;
  padding: 15px;
  text-align: start;
  line-height: 1.8;
  height: 200px;
  border-radius: 10px;
  position: relative;

  .css-1dklj6k {
    font-size: medium;
  }
  .css-8pcd7y {
    position: absolute;
    bottom: 5%;
  }
}
.pagination {
  width: 100%;
  .pages {
    width: 50%;
    margin: 0 auto;
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
    button {
      padding: 5px;
      border-radius: 5px;
      font-weight: 700;
      margin: 0 5px;
    }
    @media only screen and (min-width: 700px) {
      width: 15%;
    }
  }
}
.darktheme-pagination,
.darktheme-pages {
  background-color: var(--darktheme-background-color);
  color: var(--darktheme-text-color);
  button {
    border: 1px solid var(--darktheme-text-color);
  }
}
.lighttheme-pagination,
.lighttheme-pages {
  background-color: var(--default-background-color);
  color: var(--default-text-color);
  button {
    border: 1px solid var(--default-text-color);
  }
}
.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
